<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasisamansahsiahrupadiripelajaruitmkampusjasin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pensyarah.Activity.MainDashboardPensyarah"></activity>
        <activity android:name=".Admin.Register.RegisterActivity" />
        <activity android:name=".Pelajar.Register.RegisterActivity" />
        <activity android:name=".Pensyarah.Register.RegisterActivity" />
        <activity android:name=".Pensyarah.Login.LoginActivity" />
        <activity android:name=".Pelajar.Login.LoginActivity" />
        <activity android:name=".Admin.Login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>